<%= link_to "Home", "#", :class => 'brand' %>
<ul class="nav">
  <% if true %>
    <li>
    <%= link_to('Logout', "#", :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', "#")  %>
    </li>
  <% end %>
  <% if true %>
    <li>
    <%= link_to('Edit account', "#") %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', "#")  %>
    </li>
  <% end %>
</ul>
